Server/state.json
Server/db/data/database.db
Server/config.py
apiv1/config.php
Server/deviceconfig.json
Server/logfile.log
deviceconfig_example.json
deviceconfig.json
apiv1/sqliteConnect.php
Server/db/data/database.db-journal
